.header {
position: absolute;
height: 24px;
left: 85px;
top: 50px;

/* h6 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
letter-spacing: 0.2px;

/* primary-text-color */
color: #FC724D;
}

.header2 {
position: absolute;
width: 841px;
height: 50px;
left: 85px;
top: 99px;

/* h2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
/* identical to box height, or 125% */
letter-spacing: 0.2px;

/* text-color */
color: #252B42;
}

.subheader{
position: absolute;
width: 684px;
height: 40px;
left: 89px;
top: 166px;

/* paragraph */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
letter-spacing: 0.2px;

/* second-text-color */
color: #737373;
}

.model1{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
width: 238px;
height: 426px;
left: calc(50% - 238px/2 - 271px);
top: 241px;

background: #FFE4C4;
/* accentued-drop-shadow */
box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}

.title{
position: absolute;
width: 144px;
height: 48px;
left: 40px;
top: 131px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.1px;

/* text-color */
color: #252B42;
}

.line{
position: absolute;
width: 50px;
height: 2px;
left: 40px;
top: 199px;

/* danger-color */
background: #E74040;
}

.description1{
position: absolute;
width: 158px;
height: 80px;
left: 40px;
top: 221px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
letter-spacing: 0.2px;

/* second-text-color */
color: #737373;}

.inputbutton {
position: absolute;
width: 160px;
height: 30px;
left: 40px;
top: 315px;

background: rgba(255, 255, 255, 0.4);
border-radius: 10px;
}

input[type="file"] {
    display: none;
}

.uploadtext{
position: absolute;
width: 101px;
height: 20px;
left: 70px;
top: 320px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: 0.2px;

color: #000000;
}

button {
display: none;
}

.runbutton{
position: absolute;
width: 160px;
height: 30px;
left: 40px;
top: 359px;

background: rgba(255, 255, 255, 0.4);
border-radius: 10px;
}

.runbuttontext{

position: absolute;
width: 72px;
height: 20px;
left: 84px;
top: 364px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: 0.2px;

color: #000000;

}

.model2{
position: absolute;
width: 238px;
height: 426px;
left: calc(50% - 238px/2);
top: 241px;


background: #FFE4C4;
/* accentued-drop-shadow */
box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
border-radius: 10px;
}

.model3{
position: absolute;
width: 238px;
height: 426px;
left: calc(50% - 238px/2 + 271px);
top: 241px;

background: #FFE4C4;
/* accentued-drop-shadow */
box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
border-radius: 10px;

}

.bottomtext{
position: absolute;
width: 870px;
height: 60px;
left: 279px;
top: 702px;

/* paragraph */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
letter-spacing: 0.2px;

/* second-text-color */
color: #737373;
}

.topellipse{
position: absolute;
width: 468px;
height: 425px;
left: -166px;
top: -138px;

background: #FFE4C4;
border-radius:100%;
z-index:-1;
}

.bottomellipse{
position: absolute;
width: 430px;
height: 425px;
right: -200px;
bottom: -138px;

background: #FFE4C4;
border-radius:100%;
z-index:-1;
}

.iconcontainer{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 22px 19px;

position: absolute;
width: 50px;
height: 40px;
left: 40px;
top: 35px;

background: rgba(255, 255, 255, 0.4);
border-radius: 10px;
}

.imgcontainer1{
position: absolute;
left: 58.14px;
right: 21.43px;
top: 50.95px;
bottom: 23.68px;
}

.imgcontainer2{
position: absolute;
left: 58.14px;
right: 21.43px;
top: 50.95px;
bottom: 23.68px;
}

.imgcontainer3{
position: absolute;
left: 58.14px;
right: 21.43px;
top: 50.95px;
bottom: 23.68px;

}

.title2{
position: absolute;
width: 160px;
height: 48px;
left: 40px;
top: 131px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.1px;

/* text-color */
color: #252B42;
}