<!DOCTYPE html>
<html>
    <head>
        <title>GUI for ML Tasks</title>
    </head>

    <body>
        <form name="form", method="POST", style="text-align: center;", enctype=multipart/form-data>
            <br>
            <input type="file" name="model1" accept=".csv", placeholder="Enter report csv (model1)" value = "model1"/>
            <br><br>
            <button name ="model1">Run Model 1</button>
        </form>
        <form name="form", method="POST", style="text-align: center;", enctype=multipart/form-data>
            <br>
            <input type="file" name="model2" accept=".csv", placeholder="Enter report csv (model2)" value = "model2"/>
            <br><br>
            <button name ="model2">Run Model 2</button>
        </form>
    </body>

</html>
