<!DOCTYPE html>
<html>
    <head>
        <title>GUI for ML Tasks</title>
        <script>
            function ShowDiv() {
                document.getElementById("myDiv").style.display = "";
            }

        </script>
    </head>

    <body>
        <form name="form", method="POST", style="text-align: center;", enctype=multipart/form-data>
            <br>
            report_csv = <input type="file" name="report" accept=".csv", placeholder="Enter report csv" required />
            <br><br>
            <a href = "{{ url_for('reportgradingwebpage') }}">
                <button onclick="ShowDiv()">Run</button>
            </a>
        </form>
    </body>

</html>
